<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <appender name="hibernate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>hibernate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>hibernate-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %5p [%t] %c{2\}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/service-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %5p [%t] %c{2\}:%L - %m%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.hibernate.SQL" level="WARN" additivity="false">-->
<!--        <appender-ref ref="${pinpoint_server_hibernate_json_config:-pinpoint_server_hibernate}"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type" level="WARN" additivity="false">-->
<!--        <appender-ref ref="${pinpoint_server_hibernate_json_config:-pinpoint_server_hibernate}"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="${pinpoint_server_hibernate_json_config:-pinpoint_server_hibernate}"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.jdbc" level="WARN" additivity="false">-->
<!--        <appender-ref ref="${pinpoint_server_hibernate_json_config:-pinpoint_server_hibernate}"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type.descriptor.sql" level="WARN" additivity="false">-->
<!--        <appender-ref ref="${pinpoint_server_hibernate_json_config:-pinpoint_server_hibernate}"/>-->
<!--    </logger>-->

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="service" />
<!--        <appender-ref ref="hibernate" />-->
    </root>
</configuration>